frame_data_processing/__pycache__/*
simulation/__pycache__/*
data_structure/__pycache__/*
Frames/*
env_activate.fish
results/*
test_files/*
tmp*
broken_molecule/*
ANN_model/*
electron_coupling/__pycache__/*
model/*
cm_from_graph.npy
DBT1-00
DBT1.npy
cache/*
dynamic_frames/*
*.png
*.csv
